<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{reg.doc.title}]]</title>
</head>
<form th:method="POST" th:action="@{/registration/doctor}" th:object="${doctor}">
    <label for="name">[[#{reg.name}]]</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">[[#{reg.surname}]]</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="type">[[#{reg.doc.type}]]</label>
    <select th:field="*{type}" id="type">
        <option value="dermatologist">[[#{doc.type.dermatologist}]]</option>
        <option value="pediatrician">[[#{doc.type.pediatrician}]]</option>
        <option value="surgeon">[[#{doc.type.surgeon}]]</option>
        <option value="optometrist">[[#{doc.type.optometrist}]]</option>
    </select>
    <br/>
    <label for="experience">[[#{reg.doc.experience}]]</label>
    <input type="text" th:field="*{experience}" id="experience"/>
    <br/>
    <input type="submit" th:value="#{reg.register}"/>
    <br/>
</form>
</body>
</html>