<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New patient</title>
</head>
<body>
<form th:method="POST" th:action="@{/registration/patient}" th:object="${patient}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label>Gender:</label>
    <input type="radio" th:field="*{gender}" id="male" value="male"/>Male
    <input type="radio" th:field="*{gender}" id="female" value="female"/>Female
    <br/>
    <label for="year">Enter birth year: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <br/>
    <label for="phone">Enter phone: </label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <br/>
    <input type="submit" value="Register"/>
    <br/>
</form>
</body>
</html>