<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{reg.pat.title}]]</title>
</head>
<body>
<form th:method="POST" th:action="@{/registration/patient}" th:object="${patient}">
    <label for="name">[[#{reg.name}]]</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">[[#{reg.surname}]]</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label>[[#{reg.pat.gender}]]</label>
    <input type="radio" th:field="*{gender}" id="male" value="male"/>[[#{reg.pat.gender.male}]]
    <input type="radio" th:field="*{gender}" id="female" value="female"/>[[#{reg.pat.gender.female}]]
    <br/>
    <label for="year">[[#{reg.pat.year}]]</label>
    <input type="text" th:field="*{year}" id="year"/>
    <br/>
    <label for="phone">[[#{reg.pat.phone}]]</label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <br/>
    <input type="submit" th:value="#{reg.register}"/>
    <br/>
</form>
</body>
</html>