<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{reg.title}]]</title>
</head>
<body>
<form th:method="POST" th:action="@{/registration}" th:object="${user}">
    <label for="email">[[#{reg.email}]]</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">[[#{reg.password}]]</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label for="role">[[#{reg.role}]]</label>
    <select th:field="*{role}" id="role">
        <option value="PATIENT">[[#{reg.role.patient}]]</option>
        <option value="DOCTOR">[[#{reg.role.doctor}]]</option>
    </select>
    <br/>
    <input type="submit" th:value="#{reg.next}"/>
    <br/>
</form>
</body>
</html>