<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Patient</title>
</head>
<body>
<h2>Create new patient</h2>

<form th:method="POST" th:action="@{/admin/pat}" th:object="${patient}">
<!--    <label for="login">Enter login: </label>-->
<!--    <input type="text" th:field="*{login}" id="login"/>-->
<!--    <br/>-->
<!--    <label for="password">Enter password: </label>-->
<!--    <input type="text" th:field="*{password}" id="password"/>-->
<!--    <br/>-->
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label>Gender:</label>
    <input type="radio" th:field="*{gender}" id="male" value="male"/>Male
    <input type="radio" th:field="*{gender}" id="female" value="female"/>Female
    <br/>
    <label for="birthDate">Enter birth date: </label>
    <input type="text" th:field="*{birthDate}" id="birthDate"/>
    <br/>
    <label for="adress">Enter adress: </label>
    <input type="text" th:field="*{adress}" id="adress"/>
    <br/>
    <label for="phone">Enter phone: </label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <br/>
    <input type="submit" value="Create patient"/>
    <br/>
</form>

</body>

