<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
</head>
<body>
<p th:text="${'Name:       ' + doctor.getName()+' '+doctor.getSurname()}">VALUE</p>
<p th:text="${'Doctor type: ' + doctor.getType()}">VALUE</p>
<p th:text="${'Experience:   ' + doctor.getExperience() + '  years'}">VALUE</p>
<br/>
<p>---> His patients <---</p>
<div th:each="patient : ${doctor.getPatients()}">
    <p th:text="${patient.getName() + '   ' + patient.getSurname()}">user</p>

</div>


</body>
</html>