<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{one.doctor.title}]]</title>
</head>
<body>
<div class="topMenu">
    <div class="logOut" style="float:left;">
        <form action="/logout" method="POST">
            <button type="submit">[[#{logout}]]</button>
        </form>
    </div>
    <div class="goBack" style="float:left;">
        <form action="/admin" method="GET">
            <button type="submit">[[#{back.to.main.button}]]</button>
        </form>
    </div>
</div>
<br/>
<p th:text="#{my.name} + ${doctor.getName()+' '+doctor.getSurname()}">VALUE</p>
<p th:text="#{doctor.type} + ${doctor.getType()}">VALUE</p>
<p th:text="#{doctor.experience} + ${doctor.getExperience()+' '} + #{doctor.experience.years}">VALUE</p>
<br/>
<p>---> [[#{admin.one.doctor.his.patients}]] <---</p>
<div th:each="patient : ${doctor.getPatients()}">
    <p th:text="${patient.getName() + '   ' + patient.getSurname()}">user</p>
</div>
</body>
</html>