<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{admin.all.doctors.title}]]</title>
</head>
<body>
<div class="topMenu">
    <div class="logOut" style="float:left;">
        <form action="/logout" method="POST">
            <button type="submit">[[#{logout}]]</button>
        </form>
    </div>
    <div class="goBack" style="float:left;">
        <form action="/admin" method="GET">
            <button type="submit">[[#{back.to.main.button}]]</button>
        </form>
    </div>
</div>
<br/>
<h3>[[#{admin.all.doctors.list}]]</h3>

<form th:method="POST" th:action="@{/admin/doctors/sort}">
    <select id="field" name="field">
        <option value=""></option>
        <option value="name" >[[#{sort.value.name}]]</option>
        <option value="experience">[[#{doc.sort.value.experience}]]</option>
    </select>
    <select id="direction" name="direction">
        <option value=""></option>
        <option value="ASC">[[#{sort.value.direction.asc}]]</option>
        <option value="DESC" >[[#{sort.value.direction.desc}]]</option>
    </select>
    <button type="submit">[[#{sort.button}]]</button>
</form>

<form th:method="POST" th:action="@{/admin/doctors/search}">
    <select id="type" name="type">
        <option value=""></option>
        <option value="dermatologist">[[#{doc.type.dermatologist}]]</option>
        <option value="pediatrician">[[#{doc.type.pediatrician}]]</option>
        <option value="surgeon">[[#{doc.type.surgeon}]]</option>
        <option value="optometrist">[[#{doc.type.optometrist}]]</option>
    </select>
    <button type="submit">[[#{doc.find.button}]]</button>
</form>

<div th:each="doctor : ${doctors}">
    <hr/>
    <a th:href="@{/admin/doctors/{id}(id=${doctor.getId()})}"
       th:text="${doctor.getName() + '   ' + doctor.getSurname()}">user</a>
    <form th:method="POST" th:action="@{/admin/delete/doctor/{id}(id=${doctor.getId()})}">
        <input type="submit" th:value="#{delete.button}"/>
    </form>
    <br/>
</div>

</body>
</html>