<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Patients</title>
</head>
<body>
<h2>All Patients List</h2>
<h3>Sort by: </h3>
<ul>
    <li><a th:href="@{/doctor/patients}">Name</a></li>
    <li><a th:href="@{/doctor/patients}">Year</a></li>
</ul>

<div th:each="patient : ${patients}">
    <a th:href="@{/admin/patients/{id}(id=${patient.getId()})}"
       th:text="${patient.getName() + '   ' + patient.getSurname()}">user</a>
    <form th:method="POST" th:action="@{/admin/delete/patient/{id}(id=${patient.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
    <br/>
</div>
</body>
</html>