<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{my.info}]]</title>
</head>
<div class="container">
    <form action="/logout" method="POST">
        <button type="submit">[[#{logout}]]</button>
    </form>
</div>
<p th:text="#{my.name} + ${patient.getName()+' '+patient.getSurname()}">VALUE</p>
<p th:text="#{patient.gender} + ${patient.getGender()}">VALUE</p>
<p th:text="#{patient.year} + ${patient.getYear()}">VALUE</p>
<p th:text="#{patient.phone} + ${patient.getPhone()}">VALUE</p>
<p th:text="#{patient.doctor} + ${patient.getDoctor().getName()+' '+patient.getDoctor().getSurname()}">VALUE</p>
<br/>
<p>---> [[#{patient.record.title}]] <---</p>
<p th:if="${patient.getRecords().size() == 0}"></p>
<div th:each="record : ${patient.getRecords()}">
    <p th:text="#{patient.record.type} + ${record.getRecordType()}"></p>
    <p th:text="#{patient.record.description} + ${record.getDescription()}"></p>
    <input th:if="${record.getRecordType().name() == 'Diagnosis'}" type="submit" th:value="#{patient.record.save}"/>
    <br/>
</div>
</body>
</html>
