<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
</head>
<p>
<p th:text="${'Name:       ' + patient.getName()+' '+patient.getSurname()}">VALUE</p>
<p th:text="${'Gender:     ' + patient.getGender()}">VALUE</p>
<p th:text="${'Birth year: ' + patient.getYear()}">VALUE</p>
<p th:text="${'Phone:      ' + patient.getPhone()}">VALUE</p>
<p th:text="${'Doctor:     ' + (
(patient.getDoctor() == null) ?
'-' :
(patient.getDoctor().getName()+' '+patient.getDoctor().getSurname())
)}">VALUE</p>
<br/>
<a th:href="@{/doctor/patients/{id}/write(id=${patient.getId()})}">Add an entry to the card</a>
<br/>
<br/>
<p>---> RECORDS IN CARD <---</p>
<p th:if="${patient.getRecords().size() == 0}">There is no records in the card yet</p>
<div th:each="record : ${patient.getRecords()}">
    <p th:text="${'Record Type:  ' + record.getRecordType()}">Record</p>
    <p th:text="${'Description:  ' + record.getDescription()}">Description</p>
    <br/>
</div>

</body>
</html>
