<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Patients</title>
</head>
<body>
<div class="topMenu">
    <div class="logOut" style="float:left;">
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
    <div class="goBack" style="float:left;">
        <form action="/doctor" method="GET">
            <button type="submit">Back to main page</button>
        </form>
    </div>
</div>
<br/>
<h3>My patients</h3>

<form th:method="POST" th:action="@{/doctor/patients/sort}">
    <select id="field" name="field">
        <option value=""></option>
        <option value="name" >name</option>
        <option value="year">year</option>
    </select>
    <select id="direction" name="direction">
        <option value=""></option>
        <option value="ASC">ascending</option>
        <option value="DESC" >descending</option>
    </select>
    <button type="submit">Sort</button>
</form>

<br/>
<hr/>
<div th:each="patient : ${patients}">
    <a th:href="@{/doctor/patients/{id}(id=${patient.getId()})}"
       th:text="${patient.getName() + '   ' + patient.getSurname()}">user</a>
    <br/>
</div>
</body>
</html>