<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>[[#{doc.show.patients.title}]]</title>
</head>
<body>
<div class="topMenu">
    <div class="logOut" style="float:left;">
        <form action="/logout" method="POST">
            <button type="submit">[[#{logout}]]</button>
        </form>
    </div>
    <div class="goBack" style="float:left;">
        <form action="/doctor" method="GET">
            <button type="submit">[[#{back.to.main.button}]]</button>
        </form>
    </div>
</div>
<br/>

<h3>[[#{doc.show.patients.title}]]</h3>
<form th:method="POST" th:action="@{/doctor/patients/sort}">
    <select id="field" name="field">
        <option value=""></option>
        <option value="name" >[[#{pat.sort.value.name}]]</option>
        <option value="year">[[#{pat.sort.value.year}]]</option>
    </select>
    <select id="direction" name="direction">
        <option value=""></option>
        <option value="ASC">[[#{sort.value.direction.asc}]]</option>
        <option value="DESC" >[[#{sort.value.direction.desc}]]</option>
    </select>
    <button type="submit">[[#{sort.button}]]</button>
</form>

<br/>
<hr/>
<div th:each="patient : ${patients}">
    <a th:href="@{/doctor/patients/{id}(id=${patient.getId()})}"
       th:text="${patient.getName() + '   ' + patient.getSurname()}">user</a>
    <br/>
</div>
</body>
</html>